doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title flashcards
    body
        header 
            h1 flashcards app
        section#content
            h2= prompt
            if hint  
                p  
                    i Hint: #{hint}
    footer 
        p An app to help you study